@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background: #eee;
}


:root {
    --bg-color:#091d2c;
    --second-bg-color:#112e42;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
    --cor-roxo: rgb(211, 30, 248);
    --cor-roxo_escuro: rgb(190, 46, 219);
    --cor-rosa: rgb(255, 0, 217);
    --cor-lilas: rgb(120, 0, 240);
    --cor-verde: rgb(4, 188, 71);
    --cor-lilas_escuro: rgb(87, 2, 172);
}


/*Cabeçalho*/

.header {
    position: fixed;
    top: 0; /*posiciona o elemento no topo*/
    left: 0;/*alinha-o à esquerda*/
    width: 100%; /* faz com que ele ocupe toda a largura    */
    padding: 2rem 9%;
    background: var(--cor-rosa);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
   font-size: 2.5rem;
   color: var(--text-color);
   font-weight: 600;
}

.navbar a {
   font-size: 1.7rem;
   color: var(--text-color);
   font-weight: 500;
   margin-left: 2.5rem;
   transition: .3s;
}

.navbar a:hover,
.navbar a.active { /*.navbar a.active -> Deixa o primeiro com a cor fixa*/
   color: var(--cor-rosa);
}


#menu-icon {
   font-size: 3.6rem;
   color: var(--text-color);
   cursor: pointer;
   display: none;
}




/* Corpo da Page */

.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   margin-top: 8rem;
   text-transform: uppercase;
   text-align: center;
}

.container .titleAcai{
   font-size: 3.5rem;
   color:#ff0000;
   margin-bottom: 3rem;
   margin-top: 50px;
   text-transform: uppercase;
   text-align: center;
}

.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.container .products-container .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.container .products-container .product img{
   height: 15rem;
   margin-left: 20px;
}

.container .products-container .product:hover img{
   transform: scale(.9);
}

.container .products-container .product h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#444;
}

.container .products-container .product:hover h3{
   color:#27ae60;
}

.container .products-container .product .price{
   font-size: 2rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 30rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #111;
}

.products-preview .preview .buttons a.buy:hover{
   background: #444;
   color:#fff;
}





/*Reponsividade*/

@media (max-width:1200px) {
   html {
       font-size: 55%;
   }
}

@media (max-width:991px) {
   .header {
       padding: 2rem 4% ;
   }

   section {
       padding: 10rem 4% 2rem;
   }

   .home {
       padding: 0 4%;
   }

   .footer {
       padding: 2rem 4%;
   }
}

@media (max-width:768px) {
   .header {
       background: var(--cor-rosa);
   }

   .products-preview .preview img{
      height: 25rem;
   }

   #menu-icon {
       display: block;
   }

   .navbar {
       position: absolute;
       top: 100%;
       left: -100%;
       width: 100%;
       padding: 1rem 4%;
       background: var(--bg-color);
       box-shadow: 0 .5rem 1rem rgba(0 , 0 , 0, .2);
       z-index: 1;
       transition: .25s ease;
       transition-delay: .25s;
   }

   .navbar.active {
       left: 0;
       transition-delay: 0s;
   }

   .navbar .active-nav {
       position: absolute;
       top: 0;
       left: -100;
       width: 100%;
       height: 100%;
       background: var(--bg-color);
       border-top: .1rem solid rgba(0,0,0, .2);
       z-index: -1;
       transition: .25s ease;
       transition-delay: 0s;
   }


   .navbar.active .active-nav {
       left: 0;
       transition-delay: .25s;
   }

   .navbar a {
       display: block;
       font-size: 2rem 0;
       margin: 3rem 0;
       transform: translateX(-20rem);
       transition: .25s ease;
       transition-delay: 0s;
   }

   .navbar.active {
       left: 0;
       transition-delay: 0s;
   }

   .navbar .active-nav {
       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: var(--bg-color);
       border-top: .1rem solid rgba(0 , 0 , 0, .2);
       z-index: -1;
       transition: .25s ease;
       transition-delay: 0;
   }

   .navbar.active .active-nav {
       left: 0;
       transition-delay: .25s;
   }

   .navbar.active a {
       transform: translateX(0);
       transition-delay: .25s;
   }

   .home-imgHover {
       pointer-events: none;
       background: var(--bg-color);
       opacity: .6;
   }

   .container h2 {
       margin-bottom: 3rem
   }

};

@media (max-width: 617px) {
   .products-container {
       grid-template-columns: 1fr;
   }
}


@media (max-width: 520px) {
   html {
       font-size: 50%;
   }

   .home-content {
       display: flex;
       flex-direction: column;
   }

   .home-sci {
       width: 160px;
   }

   .home-sci a {
      width: 44px;
      height: 44px;
   }
};


@media (max-width: 462px) {
   .home-content h1 {
       font-size: 5.2rem;
   }

   .contact form .input-box .input-field {
       width: 100%;
   }

   .footer {
       flex-direction: column-reverse
   }

   .footer p {
       margin-top: 2rem;
       text-align: center
   }
};

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}

@media (max-width: 371px) {
   .home {
       justify-content: center;
   }

   .home-content {
       display: flex;
       align-items: center;
       flex-direction: column;
       text-align: center;
   }
}